<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
<header th:fragment="navFragment">
    <div class="nav">
        <a href="/content/region">
            <div class="logo-header-left"></div>
        </a>

        <div class="header-last">
            <ul class="right-menu">
                <th:block sec:authorize="not isAuthenticated()">
                    <li><a href="/user/login">로그인</a></li>
                    <li>|</li>
                    <li ><a href="/register">회원가입</a></li>
                </th:block>

                <th:block sec:authorize="isAuthenticated()">
                    <li><a href="/user/logout">로그아웃</a></li>
                    <li>|</li>
                    <li><a href="/user/profile">나의정보</a></li>
                </th:block>
            </ul>
        </div>
    </div>
</header>
</body>
</html>